@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --fonteprincipal: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
}

html, body {
  width: 100vw;
  height: 100vh;
}

header {
  position: relative;
  height: 70px;
  background-color: #252525;
}

h1 {
  color: white;
  margin-left: 20px;
  font: normal 500 1.5em var(--fonteprincipal);
  line-height: 70px;
}

#itens {
  display: none;
}

.material-icons {
  position: absolute;
  display: block;
  color: white;
  margin-left: 20px;
  right: 10px;
  top: 0;
  height: 100%;
  width: 70px;
  line-height: 65px;
  text-align: center;
  cursor: pointer;
}

.material-icons:hover {
  background-color: #1e1e1e;
  transition-duration: .2s;
}

.material-icons:active {
  background-color: black;
}

ul {
  list-style-type: none;
  width: 100%;
}

li {
  font: normal 300 .9em var(--fonteprincipal);
  display: block;
  background-color: #252525;
  
  height: 50px;
  line-height: 50px;
  text-align: left;
  border-bottom: 1px solid rgba(110, 110, 110, 0.30);
  cursor: pointer;
}

li:hover {
  background-color: #1e1e1e;
  transition-duration: .5s;
}

li:active {
  background-color: black;
  transition-duration: .1s;
}

header a {
  display: block;
  color: white;
  text-decoration: none;
  width: 100%;
  padding: 0px 20px;
}

main {
  width: 100vw;
}

#esportes {
  background-color: rgb(215, 253, 215);
  padding-bottom: 20px;
}

#esportes > h1 {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}

.botao {
  display: block;
  border: 1px solid black;
  width: 90%;
  height: 250px;
  margin: 20px auto;
}

#imagem-classico {
  display: block;
  background: black url('../imagens/seleção\ brasileira.jpg') center center no-repeat;
  background-size: cover;
  height: 100%;
  width: 50%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  float: left;
}

#noticia-classico {
  display: block;
  width: 50%;
  height: 100%;
  float: right;
  padding: 10px;
}

#esportes h2 {
  text-transform: uppercase;
  font: normal 300 1em var(--fonteprincipal);
  color: #606060;
}

#esportes small {
  font: normal 300 .8em var(--fonteprincipal);
  color: #606060;
  margin-top: 10px;
}

#esportes p {
  font: normal 500 1.1em var(--fonteprincipal);
  margin-top: 10px;
  color: #333333
}

#imagem-superbowl {
  display: block;
  background: black url('../imagens/superbowl.jpg') center center no-repeat;
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  float: left;
  width: 50%;
  height: 100%;
}

#noticia-superbowl {
  display: block;
  float: right;
  width: 50%;
  height: 100%;
  padding: 10px;
}

#imagem-nba {
  display: block;
  background: black url('../imagens/nba.jpg') center center no-repeat;
  background-size: cover;
  float: left;
  height: 100%;
  width: 50%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#noticia-nba {
  display: block;
  float: right;
  width: 50%;
  height: 100%;
  padding: 10px;
}

#imagem-f1 {
  display: block;
  background: black url('../imagens/f1.jpg') center center no-repeat;
  background-size: cover;
  float: left;
  width: 50%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#noticia-f1 {
  display: block;
  float: right;
  width: 50%;
  height: 100%;
  padding: 10px;
}

hr {
  width: 90%;
  margin: auto;
}

#economia > h1 {
  color: black;
  text-transform: uppercase;
}

#classico {
  background-color: white;
  border-radius: 10px;
  border: none;
}

#superbowl {
  background-color: white;
  border-radius: 10px;
  border: none;
}

#nba {
  background-color: white;
  border-radius: 10px;
  border: none;
}

#f1 {
  background-color: white;
  border-radius: 10px;
  border: none;
}

#economia {
  background-color: rgb(255, 255, 207);
  padding-bottom: 20px;
}

#dolar {
  border-radius: 10px;
  background-color: white;
  border: none;
}

#imagem-dolar {
  display: block;
  background: black url('../imagens/dolar.jpg') center center no-repeat;
  background-size: cover;
  float: left;
  width: 50%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#noticia-dolar {
  display: block;
  float: right;
  width: 50%;
  height: 100%;
  padding: 10px;
}

#economia h2 {
  font: normal 300 1em var(--fonteprincipal);
  color: #606060;
  text-transform: uppercase;
}

#economia small {
  font: normal 300 .8em var(--fonteprincipal);
  color: #606060;
  margin-top: 10px;
}

#economia p {
  font: normal 500 1.1em var(--fonteprincipal);
  color: #333333;
  margin-top: 20px;
}

#euro {
  border-radius: 10px;
  background-color: white;
  border: none;
}

#imagem-euro {
  display: block;
  background: black url('../imagens/euro.jpg') center center no-repeat;
  background-size: cover;
  float: left;
  width: 50%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#noticia-euro {
  display: block;
  float: right;
  width: 50%;
  height: 100%;
  padding: 10px;
}

#petroleo {
  border-radius: 10px;
  background-color: white;
  border: none;
}

#imagem-petroleo {
  display: block;
  background: black url('../imagens/petroleo.jpg') center center no-repeat;
  background-size: cover;
  float: left;
  width: 50%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#noticia-petroleo {
  display: block;
  float: right;
  width: 50%;
  height: 100%;
  padding: 10px;
}

#entretenimento {
  padding-bottom: 20px;
  background-color: rgb(255, 223, 223);
}

#entretenimento h2 {
  font: normal 300 1.5em var(--fonteprincipal);
  color: #606060;
  text-transform: uppercase;
}

#entretenimento small {
  font: normal 300 .8em var(--fonteprincipal);
  color: #606060;
}

#entretenimento p {
  font: normal 500 1em var(--fonteprincipal);
  color: #333333;
  margin-top: 20px;
}

#entretenimento > h1 {
  color: black;
  text-transform: uppercase;
}

#shazam {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  border: none;
}

#imagem-shazam {
  display: block;
  background: black url('../imagens/shazam.png') center center no-repeat;
  background-size: cover;
  float: left;
  width: 50%;
  height: 100%;
}

#noticia-shazam {
  display: block;
  float: right;
  width: 50%;
  height: 100%;
  padding: 10px;
}

#heroinas {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  border: none;
}

#imagem-heroinas {
  display: block;
  background: black url('../imagens/heroinas.jpg') center center no-repeat;
  background-size: cover;
  float: left;
  width: 50%;
  height: 100%;
}

#noticia-heroinas {
  display: block;
  float: right;
  width: 50%;
  height: 100%;
  padding: 10px;
}

#mulher-hulk {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  border: none;
}

#imagem-hulk {
  display: block;
  background: black url('../imagens/mulher-hulk-4.jpg') center center no-repeat;
  background-size: cover;
  float: left;
  width: 50%;
  height: 100%;
}

#noticia-hulk {
  display: block;
  float: right;
  width: 50%;
  height: 100%;
  padding: 10px;
}

#tecnologia {
  background-color: rgb(166, 196, 255);
  padding-bottom: 20px;
}

#tecnologia h2 {
  font: normal 300 1em var(--fonteprincipal);
  text-transform: uppercase;
  color: #606060;
}

#tecnologia small {
  font: normal 300 .8em var(--fonteprincipal);
  text-transform: uppercase;
  color: #606060;
}

#tecnologia p {
  font: normal 500 1em var(--fonteprincipal);
  color: #333333;
}

#tecnologia > h1 {
  color: black;
  text-transform: uppercase;
}

#alemanha {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  border: none;
}

#imagem-alemanha {
  display: block;
  background: black url('../imagens/usina\ nuclear.jpeg') center bottom no-repeat;
  background-size: cover;
  float: left;
  width: 50%;
  height: 100%;
}

#noticia-alemanha {
  display: block;
  float: right;
  width: 50%;
  height: 100%;
  padding: 10px;
}

#noticia-alemanha > h2 {
  font-size: 1.1em;
}

#noticia-alemanha > p {
  margin-top: 10px;
}

#celular {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  border: none;
}

#imagem-celular {
  display: block;
  background: black url('../imagens/celular.jpg') center center no-repeat;
  background-size: cover;
  float: left;
  width: 50%;
  height: 100%;
}

#noticia-celular {
  display: block;
  float: right;
  width: 50%;
  height: 100%;
  padding: 10px;
}

#noticia-celular > h2 {
  font-size: 1.1em;
}

#noticia-celular > p {
  margin-top: 10px;
}

#iphone {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  border: none;
}

#imagem-iphone {
  display: block;
  background: black url('../imagens/iphone.jpg') center center no-repeat;
  float: left;
  width: 50%;
  height: 100%;
}

#noticia-iphone {
  display: block;
  float: right;
  width: 50%;
  height: 100%;
  padding: 10px;
}

#noticia-iphone > h2 {
  font-size: 1.2em;
}

#noticia-iphone > p {
  font-size: 1.2em;
  margin-top: 10px;
}

#chip {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  border: none;
}

#imagem-chip {
  display: block;
  background: black url('../imagens/chip.jpg') center center no-repeat;
  background-size: cover;
  float: left;
  width: 50%;
  height: 100%;
}

#noticia-chip {
  display: block;
  float: right;
  width: 50%;
  height: 100%;
  padding: 10px;
}

#noticia-chip > h2 {
  font-size: 1.3em;
}

#noticia-chip > p {
  margin-top: 10px;
  font-size: 1.1em;
}

footer {
  background-color: #252525;
  color: white;
  width: 100vw;
  text-align: center;
  padding: 20px 0px;
}

footer > p {
  color: white;
  text-align: center;
  font: italic 300 .8em var(--fonteprincipal);
  margin: 10px;
}

#tela {
  width: 70%;
  margin: auto;
  background-color: rgb(0, 59, 123);
  border-radius: 100px;
  font: normal 500 .8em var(--fonteprincipal);
  padding: 10px 20px;
}

#tela2 {
  display: none;
  width: 70%;
  margin: auto;
  background-color: rgb(0, 59, 123);
  border-radius: 100px;
  font: normal 500 .8em var(--fonteprincipal);
  padding: 10px 20px;
}